<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
    <title>Employee Tracker</title>
  </head>
  <body>
    <div class="container">
      <h2 class="jumbotron">HR Control Center</h2>
      <%= yield %>
    </div>
  </body>
</html>
